<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Do excepteur eiusmod laboris laborum culpa ullamco Lorem elit excepteur voluptate quis id. Irure ipsum aliquip adipisicing laborum commodo pariatur consequat sint do. Non elit laboris labore proident culpa adipisicing enim. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-brands fa-whatsapp"></i> (99) 99999-9999</li>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (99) 9999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
